/* reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* import custom fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* declare color using in the app */
:root {
  --very_dark_blue: hsl(243, 87%, 12%);
  --desaturated_blue: hsl(238, 22%, 44%);
  --bright_blue: hsl(224, 93%, 58%);
  --moderate_cyan: hsl(170, 45%, 43%);
  --light_grayish_blue: hsl(240, 75%, 98%);
  --light_gray: hsl(0, 0%, 75%);
}
